*.prec_f&amp;s

shelled

=================

<?xml version="1.0" encoding="UTF-8"?>
<archive type="InterfaceBuilder." version="8.00">
  <data>
  	<int key="IBDocument.SystemTarget">1536</int>
		<string key="Document.SystemVersion">12C3006</string>
		<string key="Document.InterfaceBuilderVersion">2844</string>
		<string key="Document.Segment(?)">625.00</string>
		<object class="NSMutableDictionary" key="IBDocument.PluginVersions">
			<string key="NS.key.0">InterfaceBuilder.f1-18766-.</string>
			<string key="NS.object.0">1930</string>
		</object>
		<array key="IBDocument.IntegratedClassDependencies">
			<string>IBProxyObject</string>
			<string>IBUILabel</string>
			<string>IBUIPageControl</string>
			<string>IBUISeedcheck</string>
		</array>
		<array key="IBDocument.PluginDependencies">
		</array>
		<object class="NSMutableDictionary" key="IBDocument.Metadata">
			<string key="NS.key.0">PluginDependencyRecalculationVersion</string>
			<integer value="1" key="NS.object.0"/>
		</object>
		<array class="NSMutableArray" key="IBDocument.RootObjects" id="1000">
			<object class="IBProxyObject" id="372490531">
				<string key="IBProxiedObjectIdentifier">IBFilesOwner</string>
			</object>
			<object class="IBProxyObject" id="843779117">
				<string key="IBProxiedObjectIdentifier">IBFirstResponder</string>
				<string key="targetRuntimeIdentifier">IBFramework

